<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.santabooks.subscribe.dao.face.SubscribeDao">
	
	<insert id="insertSub" parameterType="com.santabooks.subscribe.dto.Subscription">
		INSERT INTO subscription (subNo, memberNo, subDate, subName, subTel, subTerm, subPay,
		postCode, roadAddress, jibunAddress, detailAddress, extrAaddress )
		
		VALUES ( subscription_seq.nextval, #{memberNo},  #{subDate}, #{subName}, #{subTel}, #{subTerm}, #{subPay}, 
		#{postCode}, #{roadAddress}, #{jibunAddress}, #{detailAddress}, #{extraAddress} )
	</insert>


	<select id="getInfo" parameterType="String" resultType="com.santabooks.member.dto.Member">
		SELECT memberName, memberTel, postcode, roadaddress, jibunaddress, detailaddress, extraaddress FROM member
		WHERE memberId = #{id}
	</select>

	
	<select id="getmemNo" parameterType="String" resultType="int">
		SELECT memberNo FROM member
		WHERE memberID = #{memberId}
	</select>
	
	
	<select id="getsubNo" parameterType="String" resultType="com.santabooks.subscribe.dto.Subscription">
	select subscription.subNo from member,subscription 
	WHERE member.memberNo = subscription.memberNo
	AND member.memberId = #{memberId}
	</select>
	
	
	<update id="updatecheck" parameterType="String">
	UPDATE member SET subcheck = '구독중'
	WHERE memberID = #{memberId}
	</update>


	<select id="getGenre" parameterType="String" resultType="com.santabooks.member.dto.Member">
		SELECT genre FROM member
		WHERE memberId = #{id}
	</select>


	<select id="getbookGenreNo" parameterType="String" resultType="com.santabooks.reviewSns.dto.Book">
		SELECT * FROM (
			SELECT bookno, genreno, bookname, bookwriter, bookpublisher, publishingyear, bookcontent, grade FROM book
			WHERE genreno IN ( ${genreNo} )
			ORDER BY DBMS_RANDOM.RANDOM
		) B
		WHERE rownum = 1
	</select>
	
<!-- 	<insert id="insertshipsInfo" parameterType="com.santabooks.subscribe.dto.Shipment"> -->
<!-- 		INSERT INTO shipment (shipno, shipmentdate, memberno, bookno, subno ) -->
		
<!-- 		VALUES ( #{shipNo}, #{shipmentDate}, #{memberNo}, #{bookNo}, #{subNo} )	 -->
<!-- 	</insert> -->
	
	<select id="selectShippedBooks" parameterType="int" resultType="hashmap">
		select 
	    g.genrename, b.bookno, b.bookname, b.bookpublisher, b.bookwriter,
	    h.shipmentdate, h.shipno
		from subscription s, shipment h, book b, genre g
		where s.subno = h.subno
		and h.bookno = b.bookno
		and b.genreno = g.genreno
		and s.memberno = ${memberNo}
	</select>
	
</mapper>