<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.santabooks.novel.dao.face.NovelDao">
	<select id="selectCntList" resultType="int" parameterType="com.santabooks.util.Paging">
		SELECT count(*) FROM ${tableName}
		
			<trim prefix="WHERE" prefixOverrides="AND">
				<if test="search != null and search != ''">
					AND title LIKE '%' || #{search} || '%'
				</if>
				<if test="category gt 0 and category lt 5">
					AND category = #{category}
				</if>
			</trim>
	</select>
	
	<select id="selectNovelList" resultType="com.santabooks.novel.dto.Novel" parameterType="com.santabooks.util.Paging">
		select * from (
			select rownum rnum, B.* FROM (
				select * from ${tableName}
		
			<trim prefix="WHERE" prefixOverrides="AND">
				<if test="search != null and search != ''">
					AND title LIKE '%' || #{search} || '%'
				</if>
				<if test="category gt 0 and category lt 5">
					AND category = #{category}
				</if>
			</trim>
				
				order by novelNo desc
		
				) B ORDER BY rnum
		) BOARD WHERE rnum BETWEEN #{startNo} AND #{endNo}
		
	</select>
	
	<select id="selectBestNovel" resultType="com.santabooks.novel.dto.Novel">
		 SELECT * FROM (
	     	SELECT * FROM novel
			<if test="category gt 0 and category lt 5">
		     	WHERE category = #{category}
	     	</if>
		     	ORDER BY score DESC
	     ) WHERE ROWNUM BETWEEN 1 AND 3
	</select>
	
	<insert id="insertNovel" parameterType="com.santabooks.novel.dto.Novel">
		<selectKey order="BEFORE" keyColumn="novelNo" keyProperty="novelNo">
		SELECT novel_seq.nextval FROM dual
		</selectKey>
		
		INSERT INTO novel (novelNo, memberNo, title, discription, category)
					VAUES (#{novelNo}, #{memberNo}, #{title}, #{discription}, #{category})
	</insert>
</mapper>
