<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.santabooks.novel.dao.face.NovelDao">
	<select id="selectCntList" resultType="int" parameterType="com.santabooks.util.Paging">
		SELECT count(*) FROM ${tableName}
		
			<trim prefix="WHERE" prefixOverrides="AND">
				<if test="search != null and search != ''">
					AND title LIKE '%' || #{search} || '%'
				</if>
				<if test="category gt 0 and category lt 5">
					AND category = #{category}
				</if>
				<if test="tableName == 'episode'">
					AND novelNo = #{novelNo}
				</if>
			</trim>
	</select>
	
	<select id="selectNovelList" resultType="com.santabooks.novel.dto.Novel" parameterType="com.santabooks.util.Paging">
		select * from (
			select rownum rnum, B.* FROM (
				select novel.*, (
					SELECT membername FROM member WHERE novel.memberNo = memberno
				) AS memberName from novel
		
			<trim prefix="WHERE" prefixOverrides="AND">
				<if test="search != null and search != ''">
					AND title LIKE '%' || #{search} || '%'
				</if>
				<if test="category gt 0 and category lt 5">
					AND category = #{category}
				</if>
			</trim>
				
				order by novelNo desc
		
				) B ORDER BY rnum
		) BOARD WHERE rnum BETWEEN #{startNo} AND #{endNo}
	</select>
	
	<select id="selectNovelByNovelNo" parameterType="com.santabooks.util.Paging" resultType="com.santabooks.novel.dto.Novel">
		SELECT novel.*, (
			SELECT membername FROM member WHERE novel.memberNo = memberno
		) AS memberName
		FROM novel WHERE novelNo = #{novelNo}
	</select>
	
	<select id="selectBestNovel" resultType="com.santabooks.novel.dto.Novel">
		 SELECT * FROM (
	     	SELECT novel.*, (
				SELECT membername FROM member WHERE novel.memberNo = memberno
			) AS memberName FROM novel
			<if test="category gt 0 and category lt 5">
		     	WHERE category = #{category}
	     	</if>
		     	ORDER BY score DESC
	     ) WHERE ROWNUM BETWEEN 1 AND 3
	</select>
	
	<select id="selectEpisodeByNovelNo" resultType="com.santabooks.novel.dto.Episode" parameterType="com.santabooks.util.Paging">
     	select * from (
			select rownum rnum, B.* FROM (
				select * from episode WHERE novelNo = #{novelNo} order by novelNo desc
			) B ORDER BY rnum
		) BOARD WHERE rnum BETWEEN #{startNo} AND #{endNo}
		
	</select>
	
	<insert id="insertNovel" parameterType="com.santabooks.novel.dto.Novel">
		<selectKey order="BEFORE" keyColumn="novelNo" keyProperty="novelNo" resultType="int">
		SELECT novel_seq.nextval AS novelNo FROM dual
		</selectKey>
		
		INSERT INTO novel (novelNo, memberNo, title, discription, category)
					VALUES (#{novelNo}, #{memberNo}, #{title}, #{discription}, #{category})
	</insert>
	<insert id="insertEpisode" parameterType="com.santabooks.novel.dto.Episode">
		<selectKey order="BEFORE" keyColumn="novelNo" keyProperty="novelNo" resultType="int">
		SELECT episode_seq.nextval AS novelNo FROM dual
		</selectKey>
		
		INSERT INTO episode (episodeNo, novelNo, title, content)
					VALUES (#{episodeNo}, #{novelNo}, #{title}, #{content})
	</insert>
</mapper>
