<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.santabooks.reviewSns.dao.face.ReviewSnsDao">
	
	<select id="selectCntAll" resultType="int">
		SELECT COUNT(*) FROM review_sns
	</select>
	
	<select id="selectAll" resultType="com.santabooks.reviewSns.dto.ReviewSns" parameterType="com.santabooks.util.Paging">
		SELECT r.feedNo, r.bookNo, r.memberNo, r.review, r.privacy, r.reviewDate, b.bookName, b.bookWriter, b.bookPublisher, b.publishingYear, b.bookContent, b.genreNo
		FROM (SELECT rownum rnum, B.* FROM(SELECT * FROM review_sns ORDER BY feedNo DESC)B ORDER BY rnum)r, book b 
		WHERE rnum BETWEEN #{startNo} AND #{endNo} AND (r.bookNo = b.bookNo)
	</select>
	
	<select id="selectReviewByFeedNo" resultType="com.santabooks.reviewSns.dto.ReviewSns" parameterType="com.santabooks.reviewSns.dto.ReviewSns">
		SELECT r.feedNo, r.bookNo, r.memberNo, r.review, r.privacy, r.reviewDate, b.bookName, b.bookWriter, b.bookPublisher, b.publishingYear, b.bookContent, b.genreNo
		FROM review_sns r, book b
		WHERE r.bookNo = b.bookNo AND feedNo = #{feedNo}
	</select>
	
	<select id="selectReviewByBookNo" resultType="com.santabooks.reviewSns.dto.ReviewSns" parameterType="com.santabooks.reviewSns.dto.ReviewSns">
		SELECT feedNo, bookNo, memberNo, review, privacy, reviewDate
		FROM (SELECT * FROM review_sns ORDER BY feedNo DESC)review_sns
		WHERE bookNo = #{bookNo} AND ROWNUM BETWEEN 1 AND 3
	</select>
	
	<select id="selectAllByBookNo" resultType="com.santabooks.reviewSns.dto.ReviewSns" parameterType="com.santabooks.util.Paging">
		SELECT r.feedNo, r.bookNo, r.memberNo, r.review, r.privacy, r.reviewDate, b.bookName, b.bookWriter, b.bookPublisher, b.publishingYear, b.bookContent, b.genreNo
		FROM (SELECT rownum rnum, B.* FROM(SELECT * FROM review_sns ORDER BY feedNo DESC)B ORDER BY rnum)r, book b
		WHERE rnum BETWEEN #{startNo} AND #{endNo} AND r.bookNo = b.bookNo AND r.bookNo = #{bookNo}
	</select>
	
	<select id="selectDetailReviewByFeedNo" resultType="com.santabooks.reviewSns.dto.ReviewSns" parameterType="com.santabooks.reviewSns.dto.ReviewSns">
		SELECT r.feedNo, r.bookNo, r.memberNo, r.review, r.privacy, r.reviewDate, b.bookName, b.bookWriter, b.bookPublisher, b.publishingYear, b.bookContent, b.genreNo
		FROM review_sns r, book b
		WHERE r.bookNo = b.bookNo AND feedNo = #{feedNo}
	</select>
	
	<insert id="insert" parameterType="com.santabooks.reviewSns.dto.ReviewSns">
		INSERT INTO review_sns(feedNo, bookNo, memberNo, review, privacy)
		VALUES(review_sns_seq.nextval, #{bookNo}, #{memberNo}, #{review}, #{privacy}) 
	</insert>
</mapper>
  