<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.santabooks.reviewSns.dao.face.ReviewSnsDao">
	
	<select id="selectCntAll" resultType="int" parameterType="com.santabooks.util.Paging">
		SELECT COUNT(*) FROM review_sns r, book b
		WHERE 1=1 AND r.bookNo = b.bookNo
		<if test="keyword != null and !keyword.equals('')">
		AND ${searchType} like '%'||#{keyword}||'%'
		</if>
	</select>
	
	<select id="selectAll" resultType="com.santabooks.reviewSns.dto.ReviewSns" parameterType="com.santabooks.util.Paging">
		SELECT r.feedNo, r.bookNo, r.memberNo, r.review, r.privacy, r.reviewDate, b.bookName, b.bookWriter, b.bookPublisher, b.publishingYear, b.bookContent, b.genreNo, b.grade, m.memberId, m.memberNick
		FROM (SELECT rownum rnum, B.* FROM(SELECT * FROM review_sns 
		ORDER BY feedNo DESC)B ORDER BY rnum)r, book b, member m
		WHERE 1=1 AND
		<if test="keyword != null and !keyword.equals('')">
		${searchType} like '%'||#{keyword}||'%' AND
		</if>
		rnum BETWEEN #{startNo} AND #{endNo} AND (r.bookNo = b.bookNo) AND (r.memberNo = m.memberNo)
	</select>
	
	<select id="selectReviewByFeedNo" resultType="com.santabooks.reviewSns.dto.ReviewSns" parameterType="com.santabooks.reviewSns.dto.ReviewSns">
		SELECT b.bookName, b.bookWriter, b.bookNo, b.bookPublisher, b.publishingYear, b.bookContent, b.genreNo, b.grade
		FROM book b
		WHERE b.bookNo = #{bookNo}
	</select>
	
	<select id="selectReviewByBookNo" resultType="com.santabooks.reviewSns.dto.ReviewSns" parameterType="com.santabooks.reviewSns.dto.ReviewSns">
		SELECT r.feedNo, r.bookNo, r.memberNo, r.review, r.privacy, r.reviewDate, b.bookName, b.bookWriter, b.bookPublisher, b.publishingYear, b.bookContent, b.genreNo, b.grade
		FROM (SELECT * FROM review_sns ORDER BY feedNo DESC)r, book b
		WHERE b.bookNo = #{bookNo} AND r.bookNo = b.bookNo AND ROWNUM BETWEEN 1 AND 3
	</select>
	
	<select id="selectAllByBookNo" resultType="com.santabooks.reviewSns.dto.ReviewSns" parameterType="com.santabooks.util.Paging">
		SELECT r.feedNo, r.bookNo, r.memberNo, r.review, r.privacy, r.reviewDate, b.bookName, b.bookWriter, b.bookPublisher, b.publishingYear, b.bookContent, b.genreNo, b.grade, m.memberId, m.memberNick
		FROM (SELECT rownum rnum, B.* FROM(SELECT * FROM review_sns ORDER BY feedNo DESC)B ORDER BY rnum)r, book b, member m
		WHERE rnum BETWEEN #{startNo} AND #{endNo} AND r.bookNo = b.bookNo AND m.memberNo = r.memberNo AND r.bookNo = #{bookNo}
	</select>
	
	<select id="selectDetailReviewByFeedNo" resultType="com.santabooks.reviewSns.dto.ReviewSns" parameterType="com.santabooks.reviewSns.dto.ReviewSns">
		SELECT r.feedNo, r.bookNo, r.memberNo, r.review, r.privacy, r.reviewDate, b.bookName, b.bookWriter, b.bookPublisher, b.publishingYear, b.bookContent, b.genreNo, b.grade,
		(SELECT memberNick FROM member WHERE r.memberNo = memberNo) AS memberNick
		FROM review_sns r, book b
		WHERE r.bookNo = b.bookNo AND feedNo = #{feedNo}
	</select>
	
	<insert id="insert" parameterType="com.santabooks.reviewSns.dto.ReviewSns">
		INSERT INTO review_sns(feedNo, bookNo, memberNo, review, privacy)
		VALUES(review_sns_seq.nextval, #{bookNo}, #{memberNo}, #{review}, #{privacy}) 
	</insert>
	
	<select id="selectBookByBookNo" parameterType="int" resultType="com.santabooks.reviewSns.dto.Book">
		SELECT b.bookno, b.bookName, b.bookWriter, b.bookPublisher, b.publishingYear, b.bookContent, b.genreNo, b.grade
		FROM book b
		WHERE b.bookNo=#{bookNo}
	</select>
	
	<select id="selectMemberByMemberNo" parameterType="com.santabooks.member.dto.Member" resultType="com.santabooks.member.dto.Member">
		SELECT m.memberId, m.memberNick
		FROM member m, review_sns r
		WHERE m.memberNo = r.memberNo AND m.memberNo = #{memberNo}
	</select>
	
	<select id="selectCntAll2" resultType="int" parameterType="com.santabooks.util.Paging">
		SELECT COUNT(*) FROM review_sns r, book b
		WHERE 1=1 AND r.bookNo = b.bookNo AND b.bookNo = #{bookNo}
	</select>
	
	<delete id="deleteReview" parameterType="com.santabooks.reviewSns.dto.ReviewSns">
		DELETE FROM review_sns WHERE feedNo = #{feedNo}
	</delete>
	
	<select id="selectCntAll3" resultType="int" parameterType="com.santabooks.util.Paging">
		SELECT COUNT(*) FROM book
		WHERE 1=1
		<if test="keyword != null and !keyword.equals('')">
		AND 
		bookName like '%'||#{keyword}||'%' OR
		bookWriter like '%'||#{keyword}||'%'
		</if>
	</select>
	
	<select id="selectBook" resultType="com.santabooks.reviewSns.dto.Book" parameterType="com.santabooks.util.Paging">
		SELECT b.bookNo, b.bookName, b.bookWriter, b.bookPublisher, b.publishingYear, b.bookContent, b.genreNo, b.grade
		FROM (SELECT rownum rnum, B.* FROM(SELECT * FROM book 
		ORDER BY bookNo DESC)B ORDER BY rnum)b
		WHERE 1=1 AND
		<if test="keyword != null and !keyword.equals('')">
		b.bookName like '%'||#{keyword}||'%' OR
		b.bookWriter like '%'||#{keyword}||'%'
		AND
		</if>
		rnum BETWEEN #{startNo} AND #{endNo}
	</select>
	
	<!-- 별점 -->
	<select id="selectCntGradeByMemberNo" parameterType="com.santabooks.reviewSns.dto.Grade" resultType="int">
		SELECT count(*) FROM grade WHERE bookNo = #{bookNo} AND memberNo = #{memberNo}
	</select>
	
	<select id="selectGradeByMemberNo" parameterType="com.santabooks.reviewSns.dto.Grade" resultType="com.santabooks.reviewSns.dto.Grade">
		SELECT * FROM grade WHERE bookNo = #{bookNo} AND memberNo = #{memberNo}
	</select>
	
	<select id="selectGrade" parameterType="com.santabooks.reviewSns.dto.Grade" resultType="com.santabooks.reviewSns.dto.Grade">
		SELECT grade FROM grade WHERE bookNo = #{bookNo}
	</select>
	
	<insert id="insertGrade" parameterType="com.santabooks.reviewSns.dto.Grade">
		INSERT INTO grade(grade, memberNo, bookNo)
		VALUES(#{grade}, #{memberNo}, #{bookNo}) 
	</insert>
	
	<update id="updateGrade" parameterType="com.santabooks.reviewSns.dto.Grade">
		UPDATE grade SET grade = #{grade} WHERE bookNo = #{bookNo} AND memberNo = #{memberNo}
	</update>
	
	<delete id="deleteGrade" parameterType="com.santabooks.reviewSns.dto.Grade">
		DELETE FROM grade WHERE bookNo = #{bookNo} AND memberNo = #{memberNo}
	</delete>
	
	<update id="updateBookGrade" parameterType="com.santabooks.reviewSns.dto.Grade">
		UPDATE book SET grade = (SELECT round(avg(grade), 1) FROM grade WHERE bookNo = book.bookNo) WHERE bookNo = #{bookNo}
	</update>
	
	<!-- 좋아요 -->
	<select id="selectCntLike" parameterType="com.santabooks.reviewSns.dto.Like" resultType="int">
		SELECT COUNT(*) FROM like_table WHERE feedNo = #{feedNo}
	</select>
	
	<select id="selectCntLikeByMemberNo" parameterType="com.santabooks.reviewSns.dto.Like" resultType="int">
		SELECT COUNT(*) FROM like_table WHERE memberNo = #{memberNo} AND feedNo = #{feedNo}
	</select>
	
	<insert id="insertLike" parameterType="com.santabooks.reviewSns.dto.Like">
		INSERT INTO like_table VALUES (#{memberNo}, #{feedNo})
	</insert>
	
	<delete id="deleteLike" parameterType="com.santabooks.reviewSns.dto.Like">
		DELETE FROM like_table WHERE memberNo = #{memberNo} AND feedNo = #{feedNo}
	</delete>
	
</mapper>
  