<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.santabooks.member.dao.face.LoginDao">


	<select id="login"
		parameterType="com.santabooks.member.dto.Member" resultType="int">
			SELECT COUNT(*) FROM member
	   		WHERE 1=1
	   		AND memberId = #{memberId}
	   		AND memberPw = #{memberPw}
	</select>
	
	
	<select id="getmemberNick"
		parameterType="com.santabooks.member.dto.Member" resultType="com.santabooks.member.dto.Member">
		SELECT memberNo, memberNick, memberId FROM member
		WHERE
		memberId = #{memberId }
	</select>
</mapper>