<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.santabooks.member.dao.face.MemberDao">

	<insert id="join"
		parameterType="com.santabooks.member.dto.Member">
		INSERT INTO member (memberNo, memberId, memberName, memberNick, memberPw, memberBirth, memberTel, memberGender, genre, subcheck, postCode, roadAddress, jibunAddress, detailAddress, extraAddress  )
		VALUES (member_seq.nextval, #{memberId }, #{memberName }, #{memberNick }, #{memberPw }, #{memberBirth }, #{memberTel }, #{memberGender }, #{genre }, #{subcheck }, #{postCode }, #{roadAddress }, #{jibunAddress }, #{detailAddress }, #{extraAddress } )
		
	</insert>

	<select id="selectByMemberId" parameterType="com.santabooks.member.dto.Member"
		resultType="int">
		SELECT count(*) FROM member WHERE memberId = #{memberId }
	
	</select>
	
	<!-- 닉네임 확인 -->
	<select id="nickCheck" parameterType="String" resultType="int">
	  	SELECT count(*) from member WHERE memberNick = #{memberNick }
	</select>
	
	
	<select id="selectMemberByMemberId" parameterType="java.lang.String" resultType="com.santabooks.member.dto.Member">
		SELECT
			memberNo, memberId, memberName, memberNick, memberPw,
			memberBirth, memberTel, memberGender, genre, subcheck,
			postCode, roadAddress, jibunAddress, detailAddress, extraAddress
		FROM member
		WHERE memberId = #{memberId}
	</select>

	<insert id="insertSocialMember" parameterType="hashmap">
		INSERT INTO social_member (memberNo, social_no, social_member_key)
		VALUES (#{memberNo}, #{social_no}, #{id_token})
	</insert>


		
</mapper>

