<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.santabooks.mypage.dao.face.MypageDao">

<select id="selectByNo" parameterType="int" resultType="com.santabooks.member.dto.Member">
		SELECT memberNo, memberName, memberId, memberNick, genre, subcheck FROM member
		WHERE 1=1
			AND memberNo = #{no }
</select>
	
<select id="infoUpdateView" parameterType="com.santabooks.member.dto.Member" resultType="com.santabooks.member.dto.Member">
		SELECT * FROM member
		WHERE memberId = #{memberId }
</select>
	
<update id="infoUpdate" parameterType="com.santabooks.member.dto.Member">
		UPDATE member
		SET memberNick = #{memberNick }
		<if test="memberPw != null and memberPw != ''">
		, memberPw = #{memberPw }
		</if>
		, memberBirth = #{memberBirth }, memberTel = #{memberTel }, postCode = #{postCode }, roadAddress = #{roadAddress }, jibunAddress = #{jibunAddress }, detailAddress = #{detailAddress }, extraAddress = #{extraAddress }, genre = #{genre }
		WHERE memberNo = #{memberNo }
</update>

	<select id="selectCntPw" parameterType="com.santabooks.member.dto.Member" resultType="int">
		SELECT count(*) FROM member 
		WHERE memberPw = #{memberPw }
		AND memberId = #{memberId }
	</select>
	
	<select id="selectBySub" parameterType="int" resultType="com.santabooks.member.dto.Member">
		SELECT M.memberNo,M.memberName,M.memberId, M.memberNick, M.subCheck, S.subNo, S.postCode, S.roadAddress, S.jibunAddress, S.detailAddress, S.extraAddress, S.subDate, S.subPay
	 	FROM member M, subscription S
 		WHERE M.memberNo = S.memberNo
 		AND M.memberNo = #{M.memberNo}
	</select>
	
	<update id="delete" parameterType="com.santabooks.member.dto.Member">
		DELETE member
		WHERE memberNo = #{memberNo }
		AND memberPw = #{memberPw}
	</update>

	<select id="selectUnLoginByMemberNo" resultType="int" parameterType="com.santabooks.member.dto.Member">
		SELECT unLogin FROM member
		WHERE memberNo =  #{memberNo }
	</select>

	<select id="selectCnt" resultType="int" parameterType="com.santabooks.member.dto.Member">
		SELECT count(*) FROM member
		WHERE memberNo =  #{memberNo }
		AND memberPw = #{memberPw }
	</select>

	<select id="selectInformationByMemberNo" resultType="com.santabooks.member.dto.Member" parameterType="com.santabooks.member.dto.Member">
		SELECT * FROM member
		WHERE memberNo =  #{memberNo }
	</select>
	
	<select id="selectSubNoBySubNo" resultType="com.santabooks.member.dto.Member" parameterType="int">
		SELECT M.memberNo, M.memberId, M.subCheck, S.subNo
	 	FROM member M, subscription S
 		WHERE M.memberNo = S.memberNo
 		AND M.memberNo = #{M.memberNo}
	</select>
	
	<delete id="deleteSub" parameterType="int">
		DELETE FROM subscription
		WHERE subNo = ${subNo }
	</delete>
	
	<update id="subUpdate" parameterType="com.santabooks.member.dto.Member">
		UPDATE member
		SET subCheck = 'n'
		WHERE memberNo = ${memberNo}
	</update>
	
</mapper>